.bigblue {
  color: blue;
}

span {
  font-size: 12px;
  color: red;
  display: none;
}

input:invalid[touched="true"] ~ span {
  display: block;
}

form:invalid input[type="submit"] {
  opacity: 0.3;
  pointer-events: none;
}